/* Registro - Login Movil */

.main-forms-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

.main-forms-logo {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    visibility: hidden;
}

.big-logo-cont {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 150px;
    border: 5px solid var(--primary-blue);
    margin-bottom: 30px;
    border-radius: 10px;
}

.big-logo-cont img {
    width: 80%;
}

.cont-forms-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

/* Contenedor principal de forms */

.page-forms-cont {
    background: url('/assets/budweiser/budpass-inicio-bg-movil.png'); 
    background-repeat: no-repeat;
    background-size: 90%;
    background-color: #DC0019;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-bottom: 30px;
}

.regs-form-cont {
    display: flex;
    flex-direction: column;
    width: 90%;
}


.form-btn {
    width: 90%;
}

.regs-btn {
    background-color: #fff;
    border-style: none;
    width: 122px;
    height: 48px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-blue);
    cursor: pointer;
    background: #fff;
}


/* Login Form movil */

.login-div-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.login-title-text {
    font-size: 32px;
    font-family: 'BudweiserSerifDisplay', sans-serif;
    margin-top: 40px;
    margin-bottom: 25px;
}

.login-form {
    width: 100%;
}


.input-login-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-login-form label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 90%;
    text-align: left;
    margin-bottom: 10px;
}

.input-login-form input {
    width: 90%;
    height: 45px;
    padding: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
    border: var(--primary-blue) 1px solid;
    border-radius: 8px;
}

.login-form-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-btn button {
    width: 50%;
    height: 48px;
    background: var(--primary-red);
    color: #fff;
    border-radius: 6px;
    border-style: none;
    margin-bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}


/* Registro Form movil*/

.registro-div-cont {
    padding-top: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #fff;
}

.title-registro-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    padding: 0;
}

.title-registro,
.sub-title-registro {
    color: var(--primary-blue);
}

.title-registro {
    font-size: 32px;
    font-family: 'BudweiserSerifDisplay', sans-serif;
    font-weight: lighter;
    margin-bottom: 40px;
}

.sub-title-registro {
    font-size: 16px;
    font-family: 'BudBold', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    margin-top: -8px;
    text-align: left;
    width: 80%;
}

.input-cont {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 70vw;
    max-width: 500px;
    margin: 0 auto;
}

.input-cont label {
    align-self: flex-start;
    margin-bottom: 5px;
    color: var(--primary-blue);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}


.input-cont input,
.input-cont select {
    width: 70vw;
    max-width: 500px;
    height: 45px;
    padding: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
    border: var(--primary-blue) 1px solid;
    border-radius: 8px;
}

.checkbox-cont {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 70vw;
    max-width: 500px;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 15px;
}

.checkbox-cont h2 {
    color: var(--primary-blue);
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
    cursor: pointer;
}

.checkbox-item {
    transform: scale(1.5);
}

.input-contrasena {
    position: relative;
    width: 100%;
}

.input-contrasena i {
    position: absolute;
    margin-top: -10px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

}

.text-invalid {
    color: red;
    width: 100%;
    font-size: 13px;
    position: absolute;
    text-align: left;
    margin-top: 69px;
}

.text-invalid-check {
    position: absolute;
    color: red;
    font-size: 13px;
    top: 100%;
    width: 70vw;
    text-align: left;
}

.text-invalid-login {
    color: red;
    left: 0;
    width: 100%;
    margin-top: 5px;
    font-size: 13px;
    margin-bottom: 10px;
}

.btn-registrar {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.btn-registrar button {
    height: 48px;
    width: 100%;
    background: var(--primary-red);
    color: #fff;
    border-radius: 6px;
    border-style: none;
    margin-bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
}

.btn-registrar button:disabled {
    background: #bbbbbb;
    color: var(--primary-red);
    border: 1px solid var(--primary-red);
    cursor: progress;
    
}

.btn-registrar button:hover, .login-form-btn button:hover {
    background: #fff;
    color: var(--primary-red);
    border: 1px solid var(--primary-red);
}


@media screen and (min-width: 720px) and (max-width: 1080px) { 

    .page-forms-cont {
        background: url('/assets/budweiser/budpass-inicio-bg.png'); 
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: #DC0019;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50%;
        min-height: 950px;
        padding-bottom: 30px;
    }

    .main-forms-cont {
        margin-top: 100px;
    }

    .sub-title-registro {
        font-size: 16px;
        font-family: 'BudBold', 'Arial Narrow', Arial, sans-serif;
        font-weight: lighter;
        margin-top: -8px;
        text-align: left;
        width: 60%;
    }
}
/* Desktop */
@media (min-width: 1081px) {

    

    .page-forms-cont {
        background: url('/assets/budweiser/budpass-inicio-bg.png'); 
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: var(--primary-red);
        min-height: 800px;
    }

    /* Registro - Login Desktop */

    .main-forms-cont {
        flex-direction: row;
        margin-top: 0;
    }

    .main-forms-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
    }

    .big-logo-cont {
        width: 577px;
        height: 629px;
        border: 10px solid var(--primary-blue);
        margin-bottom: 0;
        margin-left: 40px;
        border-radius: 10px;
    }

    .regs-form-cont {
        align-items: center;
        width: 100%;
        margin-top: 40px;
    }

    .form-btn {
        width: 80%;
    }

    .cont-forms-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
    }

    /* Login Form Desktop */

    .login-div-cont {

        padding-top: 20px;
        width: 100%;
        height: 100%

    }

    /* Registro Form Desktop */

    #register-component,
    #login-component {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        height: 100%;
        background: #fff;
    }

    .registro-div-cont {
        padding-top: 20px;
        width: 100%;
        height: 100%;
    }

    .input-cont {
        width: 90%;
        max-width: none;
        justify-content: center;
        align-content: center;
    }


    .input-cont input,
    .input-cont select {
        width: 100%;
        max-width: none;
        height: 60px;
    }

    .input-contrasena {
        position: relative;
        width: 100%;
    }

    .checkbox-cont {
        position: relative;
        display: flex;
        width: 90%;
        max-width: none;
        align-items: center;
        margin-bottom: 30px;
    }

    .checkbox-cont input {
        cursor: pointer;
    
    }

    .checkbox-cont h2 {
        margin-left: 20px;
        margin-top: 10px;
    }


    .btn-registrar {
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .btn-registrar button {
        width: 60%;
        cursor: pointer;
    }

    .text-invalid {
        margin-top: 86px;
    }

    .text-invalid-check {
        color: red;
        width: 100%;
        font-size: 13px;
        top: 100%;
        margin-top: 5px;
    }

    .flex-deparamento-ciudad {
        display: flex;
        justify-content: space-around;
        width: 90%;
    }

    .flex-deparamento-ciudad .select-departamento {
        width: 95%;
    }

    .flex-deparamento-ciudad .select-ciudad {
        width: 100%;
    }

}