.market-main-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: url('/assets/budweiser/budpass.registro-bg.jpg');
    background-color: var(--primary-red);
    background-position: 100% 10%;
    background-repeat: no-repeat;
    background-size: 150%;
}

.main-premios-redenciones-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    height: 100%;
    margin-bottom: 40px;
}

.market-btn-cont {
    width: 100%;
}

.market-btn {
    border-style: none;
    width: 140px;
    height: 48px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-blue);
    cursor: pointer;
    background: #fff;
}

.secundario-btn {
    background-color: var(--primary-red);
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
}

/* Premios movil */

.premios-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fff;
}

.carousel-desktop {
    display: none;
}

.carousel-movil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.carousel-page-movil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.premios-img-cont-movil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    border: 4px solid var(--primary-blue);
    border-radius: 8px;
    margin-bottom: 20px;
    width: 90%;
    overflow: hidden;
}

.premios-img-cont-movil img {
    cursor: pointer;
}

.pagination-dots-movil {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 30px;
}

.pagination-dot-movil {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
}

.pagination-dot-movil.active {
    background-color: var(--primary-red);
}

/* #prev-carousel-movil, #next-carousel-movil {
    border-style: none;
    color: var(--primary-blue);
    font-size: 30px;
    background: #fff;
} */

/* Modal Premio */

.custom-modal-body {
    background: var(--primary-red-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-title.custom-modal-title {
    /* Estilos para el título del modal */
    font-family: 'BudweiserSerifDisplayItalic', 'BudweiserSerifDisplay', sans-serif;
    font-weight: lighter;
    font-size: 32px;
    color: #fff;
    margin-bottom: 15px;
}

.close.custom-close {
    /* Estilos para el botón de cierre */
    position: absolute;
    top: 10px;
    right: 10px;
}

.custom-modal-img {
    /* Estilos para la imagen del modal */
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #fff;
    padding: 40px;
    margin-bottom: 20px;
}

.custom-modal-desc,
.custom-modal-puntos {
    /* Estilos para la descripción del modal */
    font-family: 'BudBold', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color: #fff;
    text-align: center;
}

.custom-modal-puntos {
    margin-top: -15px;
    margin-bottom: 20px;
}

.btn-modal-premios {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.btn-modal-premios-redimir,
.btn-modal-premios-close,
.btn-modal-premios-redimir span {
    /* Estilos para el botón principal */
    border-style: none;
    width: 140px;
    height: 48px;
    font-family: 'BudBold', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
    font-weight: 400;
    text-transform: uppercase;
    background: #fff;
    color: var(--primary-blue);

}

#noDisponibleText,
#noDisponibleTextDesk {
    color: #000;
    cursor: not-allowed;
}

#cargandoText,
#cargandoTextDesk {
    vertical-align: middle;
    padding: 12px 0;
}

.redencion-loading,
.redencion-loading span {
    background-color: var(--primary-blue);
    pointer-events: none;
    color: #fff;
}


.carusel-btn-movil {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    margin-bottom: 20px;

}



/* Redenciones movil */

.redenciones-premios-cont {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #fff;
}

.redenciones-premios-cont h2 {
    font-family: 'BudweiserSerifDisplayItalic', 'BudweiserSerifDisplay', sans-serif;
    font-weight: lighter;
    font-size: 32px;
    color: var(--primary-blue);
    margin-top: 20px;
    margin-bottom: 20px;
}

.redenciones-premios-cont th {
    font-family: 'BudweiserSerifDisplayItalic', 'BudweiserSerifDisplay', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    color: var(--primary-blue);
    padding: 10px;
}

.redenciones-premios-cont table {
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 30px;
}

.redenciones-premios-cont th,
.redenciones-premios-cont td {
    width: 33%;
    border-right: 1px solid var(--primary-red);
}

.redenciones-premios-cont td {
    font-family: 'Franklin Gothic Medium', 'Arial', sans-serif;
    font-size: 14px;
    padding: 10px;
}


/* Sección de destacados */

.market-destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

/* Paginación */

.page-link {
    color: var(--primary-blue) !important;
}

.page-item.active .page-link {
    background-color: var(--primary-red) !important;
    color: #fff !important;
    border: #fff;
}

.pagination {
    justify-content: center;
}

#publicidad-cont {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 300px;
    overflow: hidden;
}

#publicidad-cont img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    position: absolute;
    transition: opacity 3s;
}

#publicidad-cont .fade-out {
    opacity: 0;
}

#publicidad-cont .hidden {
    opacity: 0;
}

@media (min-width: 1081px) {

    .market-main-cont {
        flex-direction: row;
        width: 100%;
        background-position: fixed;
        background-size: 50%;
    }

    .market-destacados {
        order: 2;
    }
    
    .main-premios-redenciones-cont {
        order: 1;
    }

    .main-premios-redenciones-cont {
        width: 60%;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .market-btn-cont {
        width: 90%;
    }

    /* Destacados escritorio */

    .carousel-destacados-desk {
        width: 90%;
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        margin-bottom: 20px; 
    }

    .destacado-left,
    .destacado-right {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        width: 45%;
        cursor: pointer;
        overflow: hidden;
        border: 3px solid var(--primary-blue);
        border-radius: 8px;
    }

    .destacado-left img,
    .destacado-right img {
        height: 100%;
        object-fit: cover;
        filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 1));
    }

    /* Premios escritorio */
    .premios-cont {
        width: 90%;

    }

    .redenciones-premios-cont {
        width: 90%;
        min-height: 805px;
    }

    .carousel-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .carousel-movil {
        display: none;
    }

    .carousel-page-desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90%;
        gap: 20px;
    }

    .premios-img-cont-desktop {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 180px;
        border: 3px solid var(--primary-blue);
        border-radius: 8px;
        margin-bottom: 20px;
        width: 23%;
        overflow: hidden;
    }

    .premios-img-cont-desktop .product-description {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--primary-red-gradient);
        backdrop-filter: blur(5px);
        color: #fff;
        padding: 5px;
        display: none;
        text-align: center;
        font-family: 'BudBold', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        border: none;
    }

    .disabled-premio .product-description {
        filter: grayscale(100%);
    }

    .premios-img-cont-desktop img {
        cursor: pointer;
        width: fit-content;
    }

    .carousel-btn-desktop {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        width: 90%;
        margin-bottom: 30px;
    }

    .pagination-dots {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pagination-dot {
        height: 10px;
        width: 10px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin: 0 2px;
    }

    .pagination-dot.active {
        background-color: var(--primary-red);
    }

    .carousel-btn-desk-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }


    #prev-carousel-desktop,
    #next-carousel-desktop {
        border-style: none;
        color: var(--primary-blue);
        font-size: 30px;
        background: #fff;
    }

    .market-destacados {
        width: 40%;
    }

    .page-item.active .page-link {
        background-color: var(--primary-red) !important;
    }

    #publicidad-cont {
        width: 75%;
    }

    #publicidad-cont img {
        width: 100%;
        object-fit: contain;
        border-radius: 8px;
        position: absolute;
        transition: opacity 3s;
    }

}