.ranking-main-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: url('/assets/budweiser/budpass-ranking-bg.jpg');
    background-color: var(--primary-red);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ranking-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;
}

.ranking-title h1 {
    font-family: 'BudweiserSerifDisplayItalic', 'BudweiserSerifDisplay', sans-serif;
    color: var(--primary-blue);
    font-size: 32px;
}

.ranking-table-cont {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fff;
}

.ranking-table-cont table {
    width: 95%;
    margin-bottom: 20px;
    padding: 20px;
}

.ranking-table-cont th,
.ranking-table-cont td {
    text-align: center;
    padding: 10px;
    border-right: 1px solid var(--primary-red);

    /* Evita que el texto se ajuste a la línea siguiente */
}

.ranking-table-cont th {
    font-family: 'BudweiserSerifDisplayItalic','BudweiserSerifDisplay', sans-serif;
    color: var(--primary-blue);
    font-size: 24px;
    padding: 10px;
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ranking-table-cont td {
    font-family: 'Franklin Gothic Medium', 'Arial', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
}

.ranking-puesto-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

}

/* .ranking-usuario-table {
    background: var(--primary-red);
    color: #fff;
    margin-top: 20px;
}

.ranking-usuario-table td {
    border-right: 1px solid #fff;
}

.ranking-usuario-table td:last-child {
    border-right: 1px solid var(--primary-red);
} */

.ranking-puntaje-acum {
    display: flex;
    justify-content: center;
    width: 95%;
    margin-bottom: 40px;
}


@media (min-width: 1081px) {

    .ranking-main-cont {
        height: 100%;
        flex-direction: row;
    }

    .ranking-title {
        margin: 0;
        margin-top: 15px;
    }


    .ranking-table-cont {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 2%;
    }

    .ranking-puntaje-acum {
        width: 40%;
    }
}