@font-face {
    font-family: 'BudweiserSerifDisplay';
    src: url('../fonts/BudweiserSerif-Display.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BudweiserSerifDisplayItalic';
    src: url('../fonts/BudweiserSerif-DisplayItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BudweiserSerifRegular';
    src: url('../fonts/BudweiserSerif-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BudweiserSerifRegularItalic';
    src: url('../fonts/BudweiserSerif-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BudBold';
    src: url('../fonts/BudBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FranklinGothicBook';
    src: url('../fonts/FranklinGothicBook-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-red: #DC0019;
    --primary-blue: #0A0541;
    --primary-blue-gradient: linear-gradient(180deg, #080061, #0A0541);
    --primary-red-gradient: linear-gradient(180deg, #DC0019 0%, #A50005 100%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.recuperar-main-cont {
    display: flex;
    background-color: var(--primary-red);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url('/assets/budweiser/budpass-ranking-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.recuperar-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: #fff;
    border-radius: 8px;
    padding: 4rem;
}

.recuperar-form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.recuperar-title {
    font-size: 78px;
    font-family: 'BudweiserSerifDisplay', sans-serif;
    margin-bottom: 15px;
    font-weight: lighter;
}

.recuperar-input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.recuperar-label {
    display: block;
    font-family: 'BudBold';
    font-size: 30px;
    margin-bottom: 5px;
}

.recuperar-input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-blue);
    border-radius: 5px;
    font-family: 'FranklinGothicBook';
    margin-bottom: 20px;
    font-size: 24px;
    height: 55px;
}

.recuperar-cont-btn-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;

}

.recuperar-button, .recuperar-button-volver {
    width: 33%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'BudBold';
    font-size: 24px;
    text-decoration: none;
    text-align: center;
}

.recuperar-button {
    background-color: var(--primary-red);

}

.recuperar-button-volver {
    background-color: #505050;
}

.recuperar-button-volver:hover {
    background-color: var(--primary-blue);
    
}

.recuperar-button:hover {
    background-color: #A50005;
}

.recuperar-status {
    color: green;
    margin-bottom: 10px;
}

.recuperar-error {
    color: red;
    margin-bottom: 10px;
}

@media (min-width: 1081px) {
    .recuperar-cont {
        width: 50%;
    }

    .recuperar-label {
        font-size: 15px;
    }

    .recuperar-title {

        font-size: 60px;
    }

    .recuperar-input {
        height: 40px;
    }

    .recuperar-button, .recuperar-button-volver {
        width: 25%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'BudBold';
        font-size: 16px;
    }

    .recuperar-button:hover {
        color: var(--primary-red);
        background-color: #fff;
        border: 1px solid var(--primary-red);
    }
}