.main-facturas-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    background: #D9D9D9;
}

.text-invalid-factura {
    color: red;
}

.big-logo-facturas-cont {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 90%;
}

.big-logo-facturas {
    width: 100%;
    height: 203px;
    border: 5px solid var(--primary-red);
    margin-bottom: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.facturas-codigos-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-bottom: 30px;
}


.form-facturas-btn {
    width: 100%;
    height: auto;
}

.facturas-codigos-btn {
    border-style: none;
    width: 140px;
    height: 48px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-blue);
    cursor: pointer;
}

.secundario-btn {
    background-color: var(--primary-red);
    color: #fff;
}

/* Registro facturas Movil */
.registro-factura-form {
    background: #fff;
    width: 100%;
    height: 100%;
}

.registro-facturas-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.nit-cont {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.nit-label-cont {
    display: flex;
    flex-direction: column;
    width: 75%;
}

/* Inputs */
.nit-label-cont input,
.num-factura-cont input,
.cantidad-agregar-cont input {
    height: 40px;
    border: 1px solid var(--primary-blue);
    border-radius: 5px;
    padding: 10px;
}

/* Labels */
.nit-label-cont label,
.num-factura-cont label,
.sel-producto-cont label,
.cantidad-agregar-cont label,
.foto-factura-cont label,
.foto-selfie-cont label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
}

.nit-img {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    background: #edebeb;
    align-items: center;
    border-radius: 2px;
}

.nit-img img {
    height: 50px;
}

.num-factura-cont {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.factura-img-cont {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin-bottom: 20px;
    border: 3px solid var(--primary-red);
    background: #D9D9D9;
    border-radius: 10px;
}

.factura-img-cont img {
    height: 200px;

}

.sel-producto-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin-bottom: 20px;
}

.sel-producto-cont select {
    height: 40px;
    border: 1px solid var(--primary-blue);
    border-radius: 5px;
    padding: 10px;
}

.cantidad-agregar-cont {
    display: flex;
    width: 90%;
    margin-bottom: 20px;
}

.cantidad-productos-cont {
    display: flex;
    width: 50%;

    flex-direction: column;
}

.agregar-producto-btn-cont {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
}

.agregar-producto-btn-cont button {
    width: 90%;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: none;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    background: var(--primary-red);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-transform: uppercase;
    /* Bud Bold */
}

.lista-productos-cont {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 200px;
    margin-bottom: 20px;
    background: linear-gradient(180deg, #DC0019 0%, #A50005 100%);
    border-radius: 8px;
    padding: 20px;
}

.lista-productos-cont table {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border-collapse: collapse;
}

.lista-productos-cont label {
    font-family: 'BudweiserSerifDisplay', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;

}

.lista-productos-cont .lista-productos-subtitle {
    font-family: 'BudweiserSerifDisplay', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-bottom: 5px;
}

.lista-productos-subtitle, .productos-text {
    padding-right: 30px;
}

.lista-productos-cont .productos-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;

}

.productos-text {
    width: 100%;
}

.eliminar-producto button {
    border-radius: 50%;
}

.btn-eliminar-producto {
    background: linear-gradient(180deg, #FFFFFF 0%, #B5B1DB 100%);
    color: var(--primary-red);
    border-style: none;
    border-radius: 50%;
    padding: 5px 10px;
}

.puntos-sumados-cont {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin-bottom: 20px;

}

.facturas-selfie-foto-cont {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.foto-factura-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.foto-factura-cont .custom-file-upload {
    display: inline-block;
    width: 100%;
    height: 180px;
    border: 2px solid var(--primary-blue);
    border-radius: 8px;
    background: url("../assets/budweiser/subir-archivo-logo.svg") no-repeat center;
    background-size: 25%;
}

.foto-selfie-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.foto-selfie-cont .custom-file-upload {
    display: inline-block;
    width: 100%;
    height: 180px;
    border: 2px solid var(--primary-blue);
    border-radius: 8px;
    background: url("../assets/budweiser/subir-archivo-logo.svg") no-repeat center;
    background-size: 25%;
}

.registrar-factura-btn {
    display: flex;
    justify-content: center;
    width: 90%;
}

.registrar-factura-btn button {
    width: 100%;
    height: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    background: var(--primary-red);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-transform: uppercase;
}

/* Registro codigos Movil */
.registro-codigo-form {
    background: #fff;
    width: 100%;
    height: 332px;
}

.puntaje-ac {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}




@media (min-width: 992px) {}