.cont-main-registro-facturas-codigos {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-facturas-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.info-puntaje-cont {
    display: none;
}

.text-invalid-factura {
    position: absolute;
    /* Ajusta estas propiedades según necesites */
    top: 100%;
    left: 0;
    color: red;
    font-size: 12px;
}

.big-logo-facturas-cont {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 90%;
}

.big-logo-facturas {
    width: 100%;
    height: 203px;
    border: 3px solid var(--primary-red);
    margin-bottom: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.big-logo-facturas-desk {
    display: none;
}

.facturas-codigos-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-bottom: 30px;
}


.form-facturas-btn {
    width: 100%;
    height: auto;
}

.facturas-codigos-btn {
    border-style: none;
    width: 140px;
    height: 48px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-blue);
    cursor: pointer;
    background: #fff;
}

.secundario-btn {
    background-color: var(--primary-red);
    color: #fff;
}

/* Registro facturas Movil */
.registro-factura-form {
    background: #fff;
    width: 100%;
    height: 100%;
}

.registro-facturas-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.desk-factura-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.desk-left-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%
}

.desk-right-cont {
    display: none;
}

.nit-cont,
.num-factura-cont,
.sel-producto-cont,
.cantidad-productos-cont,
.foto-factura-cont,
.foto-selfie-cont {
    position: relative;
}

.nit-cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.nit-label-cont {
    display: flex;
    flex-direction: column;
    width: 75%;
}

/* Inputs */
.nit-label-cont input,
.num-factura-cont input,
.cantidad-agregar-cont input {
    height: 40px;
    border: 1px solid var(--primary-blue);
    border-radius: 5px;
    padding: 10px;
}

/* Labels */
.nit-label-cont label,
.num-factura-cont label,
.sel-producto-cont label,
.cantidad-agregar-cont label,
.foto-factura-cont label,
.foto-selfie-cont label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
}

.nit-img {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    background: #f2f0f0;
    align-items: center;
    border-radius: 2px;
}

.nit-img img {
    height: 50px;
}

.num-factura-cont {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.factura-img-cont {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin-bottom: 20px;
    border: 3px solid var(--primary-red);
    background: #D9D9D9;
    border-radius: 10px;
}

.factura-img-cont img {
    height: 200px;
}

#myImg {
    cursor: pointer;
}

.sel-producto-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin-bottom: 20px;
}

.sel-producto-cont select {
    height: 40px;
    border: 1px solid var(--primary-blue);
    border-radius: 5px;
    padding: 10px;
}

.cantidad-agregar-cont {
    display: flex;
    width: 90%;
    margin-bottom: 40px;
}

.cantidad-productos-cont {
    display: flex;
    width: 50%;

    flex-direction: column;
}

.agregar-producto-btn-cont {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
}

.agregar-producto-btn-cont button {
    width: 90%;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: none;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    background: var(--primary-red);
    margin-top: 20px;
    border-radius: 8px;
    text-transform: uppercase;
    /* Bud Bold Agregar */
}

.lista-productos-cont {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 200px;
    margin-bottom: 20px;
    background: var(--primary-red);
    border-radius: 8px;
    padding: 20px;
    overflow-y: auto;
}

.lista-productos-cont table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.lista-productos-cont td {
    text-align: left;
}

.lista-productos-cont td:nth-child(2) {
    text-align: center;
}

.lista-productos-cont label {
    font-family: 'BudweiserSerifDisplay', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;

}

.lista-productos-cont .lista-productos-subtitle {
    font-family: 'BudweiserSerifDisplay', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-bottom: 5px;
}

.lista-productos-subtitle,
.productos-text {
    padding-right: 30px;
}

.lista-productos-cont .productos-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;

}

.productos-text {
    width: 100%;
}

.eliminar-producto button {
    border-radius: 50%;
}

.btn-eliminar-producto {
    color: #fff;
    font-size: 20px;
}

.puntos-sumados-cont {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin-bottom: 20px;

}

.facturas-selfie-foto-cont {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.foto-factura-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.foto-factura-cont .custom-file-upload, .foto-selfie-cont .custom-file-upload {
    display: inline-block;
    width: 100%;
    height: 180px;
    border: 2px solid var(--primary-blue);
    border-radius: 8px;
    background: url("../assets/budweiser/subir-archivo-logo.svg") no-repeat center;
    background-size: 130px;
}

.foto-selfie-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.registrar-factura-btn {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-bottom: 20px;
}

.registrar-factura-btn button {
    width: 100%;
    height: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    background: var(--primary-red);
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-transform: uppercase;
}

/* Registro codigos Movil */
.registro-codigo-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.codigo-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-top: 75px;
}

.codigo-text {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
}

.codigo-text input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--primary-blue);
    border-radius: 5px;
    padding: 10px;
}

.codigo-text label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
}

.text-invalid-codigo {
    position: absolute;
    top: 100%;
    left: 0;
    color: red;
    font-size: 14px;
}

.codigo-btn-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.codigo-btn-cont button {
    width: 70%;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    background: var(--primary-red);
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-transform: uppercase;
}

@media (min-width: 1081px) {


    .main-facturas-cont {
        width: 60%;
    }

    .big-logo-facturas-cont {
        margin-top: 50px;
        justify-content: space-between;
    }

    .big-logo-facturas {
        width: 30%;
        height: 200px;
    }

    .big-logo-facturas-desk {
        display: block;
        width: 30%;
        height: 200px;
        border: 3px solid var(--primary-red);
        margin-bottom: 30px;
        border-radius: 10px;
        margin-top: 20px;
    }

    .nit-label-cont {
        width: 50%;
    }

    .nit-label-cont input {
        width: 95%;
    }

    .nit-img {
        width: 47%;
        border-radius: 8px;
    }

    .desk-factura-cont {
        flex-direction: row;
        width: 95%;
    }

    .factura-img-cont {
        display: none;
    }

    .desk-left-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%
    }

    .desk-right-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%
    }

    .factura-img-cont-desk {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 90%;
        height: 100%;
        margin-bottom: 8px;
        border: 3px solid var(--primary-red);
        background: #D9D9D9;
        border-radius: 10px;
    }

    .factura-img-cont-desk img {
        height: 460px;
        cursor: pointer;
    }


    .facturas-selfie-foto-cont {
        flex-direction: row;
        justify-content: space-between;
    }

    .foto-factura-cont,
    .foto-selfie-cont {
        width: 48%;
        margin-right: 10px;
    }

    .foto-factura-cont .custom-file-upload, .foto-selfie-cont .custom-file-upload {
        background-size: 120px;
    }

    .foto-selfie-cont {
        margin-right: 0;
    }

    .registrar-factura-btn {
        margin-bottom: 40px
    }


    .registrar-factura-btn button {
        width: 45%;
    }

    .registrar-factura-btn button:hover,
    .agregar-producto-btn-cont button:hover,
    .codigo-btn-cont button:hover {
        background: #fff;
        color: var(--primary-red);
        border: 1px solid var(--primary-red);
    }

    /* Registro codigos Desktop */
    .registro-codigo-form {
        background: #fff;
        width: 100%;
        height: 80vh;
        justify-content: center;
    }

    .codigo-cont {
        margin-top: 0;
    }

    .codigo-text {
        width: 60%;
    }

    .codigo-btn-cont {
        width: 60%;
    }

    /* Informacion puntaje Desktop */

    .info-puntaje-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        width: 40%;
    }

    .items-factura-contaner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }

    .items-img-factura-cont {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 70%;
    }

    .items-img-factura {
        width: 30%;
        height: 200px;
        border: 2px solid var(--primary-red);
        border-radius: 8px;
        margin-bottom: 20px;
        background: #D9D9D9;
    }

}