@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

header {
    width: 100%;
    background: #ffffff;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80.5px;
    z-index: 100;
}


.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;
    position: relative;
}

.header-img {
    position: absolute;
    left: 0;
}


.header-img img {
    width: 95.5px;
    height: 36.5px;
    margin-left: 20px;
}



.ham-menu-list {
    position: fixed;
    top: 80.5px;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
    display: none;
}


.ham-open-icon {
    position: absolute;
    right: 20px;
    font-size: 20px;
}

.menu-desk {
    display: none;
}

.menu-desk-item-puntos {
    display: none;
}

.ham-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70px;
    color: #486284;
}

.ham-item a {
    text-decoration: none;
}

.sec-puntos {
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    height: 100px !important;
    align-items: center;
}

.sec-puntos p {
    margin-top: 10px;
    text-align: center;
}

.ham-menu-list div a {
    color: #486284;
}

.ham-menu-list div p {
    color: #737373;
}

.puntos-display p {
    margin-top: 5%;
}

.puntos-header {
    display: block;
}

/* Registro - Login */
.forms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #D9D9D9;
    height: 1400px; /* Contenedor principal movil */
}

.regs-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 900px;
    background: #9BA5B7;
}

.form-btn {
    width: 80%;
}

.regs-btn {
    background-color: #9BA5B7;
    border-style: none;
    width: 122px;
    height: 48px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
}

.inactive {
    background-color: #fff;
    color: #9BA5B7;
}


/* Login Form */


/* Registro Form */

.registro-div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    background: #9BA5B7;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70vw;
    max-width: 500px;
    margin: 0 auto;
}

.input-container label {
    align-self: flex-start;
    margin-bottom: 5px;
    color: #fff;
}


.input-container input,
.input-container select {
    width: 70vw;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.checkbox-container {
    display: flex;
    width: 70vw;
    align-items: flex-start;
    margin-bottom: 10px;
}

.checkbox-container label {
    color: #fff;
    margin-left: 5%;
}

.text-invalid {
    color: red;
    width: 70vw;
    font-size: 13px;
    margin-top: -5px;
    margin-bottom: 5px;
}

.btn-registrar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-registrar button {
    height: 48px;
    width: 137.5px;
    background: #545F71;
    color: #fff;
    border-radius: 6px;
    border-style: none;
}

/* Footer */

footer {
    margin-top: auto;
    width: 100%;
    color: #545F71;
    background: #EAEAEA;
}

.footer-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
}



.img-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.img-footer-container img {
    width: 191px;
    height: 73px;
    margin-bottom: 20px;
    gap: 31px;
    padding: 12px;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    font-weight: 700;
}

.blue-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-bottom: 10px;
    color: #486284;
}

.blue-text span {
    display: block;
}

.terminos-text {
    text-align: center;
}

.footer-hablemos-img {
    width: 307px;
    align-self: center;
    opacity: 50%;
}

.hablemos-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
}

.line {
    width: 100%;
    height: 1px;
    background: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 50%;
}

.disclaimer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-disclaimer-img {
    width: 317px;
    height: 29px;
    opacity: 50%;
}

.footer-info-text {
    color: #000;
    margin-top: 24px;
    font-weight: 400;
    margin-bottom: 40px;
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
    /* CSS rules for laptop screens go here */
}

/* Desktop */
@media (min-width: 992px) {

    /* Header */


    .header-content {
        position: absolute;
        display: flex;
        width: 100%;
        margin: 20px;
        height: 100%;
    }

    .ham-open-icon {
        display: none;
    }

    .header-img {
        width: 100%;
        position: relative;
    }

    .header-img img {
        margin-left: 10%;

    }

    .menu-desk {
        width: 100%;
        display: flex;
        gap: 50px;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        width: 33%;
        margin-right: 22rem;
    }

    .menu-desk-item a {
        text-decoration: none;
        color: #486284;
    }

    .menu-desk-item-puntos {
        position: absolute;
        display: flex;
        background-color: #737373;
        text-align: center;
        justify-content: center;
        align-content: center;
        top: 0;
        right: 0;
        width: 306px;
        height: 100%;
    }

    .menu-desk-item-puntos p {
        margin: 20px;
        color: #fff;
    }




    /* Footer */

    .top-footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .img-footer-container {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: row;
        margin-left: 10%;
        width: 100%;
    }

    .img-footer-container img {
        width: 191px;
        height: 73px;
        margin-bottom: 0;
        gap: 31px;
        padding: 12px;
    }

    .footer-text {
        flex-direction: row;
        font-size: 15px;
        justify-content: space-around;
        font-weight: 700;
        width: 100%;
    }

    .blue-text {
        text-align: left;
        font-size: 15px;
        gap: 10px;
        color: #486284;
        width: auto;
    }

    .blue-text span {
        display: inline;
    }

    .terminos-text {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        text-align: left;
        gap: 10px;

    }

    .hablemos-container {
        width: auto;
        margin-right: 5%;
    }

    .footer-disclaimer-img {
        width: 488px;
        height: 45px;
        opacity: 50%;
    }

    .footer-info-text {
        margin-bottom: 30px;
    }


}